<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!-- Open Gazebo with designed world-->
    <include file="$(find boiler_inspection_robot_simulation)/launch/gazebo.launch"/>
    <!-- Spawn robot -->
    <include file="$(find boiler_inspection_robot_simulation)/launch/spawn_boiler_inspection_robot.launch"/>
    <!-- Enable controllers -->
    <include file="$(find boiler_inspection_robot_description)/launch/boiler_inspection_robot_control_wheels.launch"/>

</launch>
